asgiref
Django
pillow
psycopg2
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dotenv
sqlparse
tzdata
cloudinary
django-cloudinary-storage
djangorestframework
djangorestframework-simplejwt markdown
whitenoise
gunicorn